.details_wrapper {
  width: calc(100% - 35%);
  min-width: 700px;
  min-height: 250px;
  border-radius: 8px;
  padding: 20px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 0.6rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  color: #fff;
}

.load_wrapper {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details_header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 220px;
}

.detail_item {
  width: 48%;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.item_name {
  width: 70%;
  height: 100%;
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

.price_label {
  width: 10px;
  height: 100%;
}

.item_value {
  flex: 1;
  height: 100%;
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details_footer {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.total_item {
  width: 48%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  background: #000;
  font-weight: 600;
}

.total_price {
  width: 48%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price_item_total {
  width: 48%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  font-weight: 600;
}

.pdf_link_wrapper {
  width: calc(100% - 35%);
  min-width: 700px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pdf_link {
  background-color: red;
  padding: 10px 50px;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 750px) {
  .details_wrapper {
    margin-top: 20px;
    width: 100%;
    min-height: unset;
    height: auto;
    min-width: unset;
  }

  .pdf_link_wrapper {
    width: 100%;
    min-width: unset;
  }

  .details_header {
    min-height: unset;
    height: auto;
    gap: 10px;
  }

  .detail_item {
    width: 100%;
  }

  .details_footer {
    height: auto;
    gap: 10px;
    margin-top: 10px;
  }

  .total_item {
    width: 100%;
    height: 30px;
  }

  .total_price {
    width: 100%;
    height: 30px;
  }
}
